.basics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.basics img {
    width: 100%;
    max-width: 48%;
}

.info {
    display: flex;
    flex-direction: column;
}

.content-container {
    overflow-y: auto;
}

.content-container .copy-container {
    display: flex;
    flex-direction: column;
}

.content-container .copy-container ul {
    padding: 0;
}

.content-container .copy-container ul li {
    list-style: none;
}

@media (max-width: 500px) {
    .basics {
        flex-direction: column;
    }

    .basics img {
        max-width: 100%;
        margin: 0 0 10px 0;
    }
}