.basics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: fit-content;
}

.basics img {
    width: 240px;
    max-width: 48%;
}

.info {
    display: flex;
    flex-direction: column;
}

.content-container .copy-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.content-container .copy-container ul {
    padding: 0;
}

.content-container .copy-container ul li {
    list-style: none;
}

@media (max-width: 600px) {
    .basics {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .basics img {
        max-width: 100%;
        margin: 0 0 10px 0;
    }
}