.basics {
    display: flex;
    flex-direction: row;
}

.basics img {
    width: 100%;
    max-width: 48%;
}

.info {
    display: flex;
    flex-direction: column;
}

.content-container .copy-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}