form#capture-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: minion-pro, serif;
}

form#capture-form div.row {
    display: flex;
    flex-direction: 100%;
    width: 100%;
    justify-content: space-between;
}

form#capture-form div.column {
    display: flex;
    flex-direction: column;
}

form#capture-form div.column.full {
    width: 100%;
}

form#capture-form div.column.half {
    width: 48%;
}

form#capture-form label {
    font-weight: 700;
    margin: 30px 0 10px 0;
}

form#capture-form input[type="text"],
form#capture-form input[type="email"],
form#capture-form input[type="tel"] {
    font-family: minion-pro, serif;
    font-size: 16px;
    font-weight: 700;
    background: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid var(--green);
    border-left: none;
}

form#capture-form input[type="text"]:focus:invalid,
form#capture-form input[type="email"]:focus:invalid,
form#capture-form input[type="tel"]:focus:invalid {
    border-bottom: 2px solid var(--red);
}

form#capture-form input:focus {
    outline: none;
}

form#capture-form input::placeholder {
    font-family: minion-pro, serif;
    font-size: 16px;
}

form#capture-form button {
    margin: 30px 0 0 0;
    border: none;
    width: fit-content;
}