#hero-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero-container h1 {
    line-height: 1;
}

#hero-container .f-dir-row {
    flex-wrap: wrap;
}

@media (max-height: 1100px) {
    #hero-container {
        height: auto;
        padding: 100px 0;
    }
}