#sign-off-container .copy-container {
    overflow: visible;
    height: 350px
}
.sign-off-copy {
    overflow: visible;
    margin-top: 50px;
    transform: rotate(-15deg);
}
.sign-off-copy > * {
    overflow: visible;
    text-align: center;
}

@media (max-width: 800px) {
    .sign-off-copy h1 {
        font-size: 40px;
    }

    .sign-off-copy h2 {
        font-size: 24px;
    }
}

@media (max-width: 600px) {
    .sign-off-copy {
        transform: rotate(-15deg);
    }

    .sign-off-copy h1 {
        font-size: 30px;
    }

    .sign-off-copy h2 {
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    .sign-off-copy h1 {
        font-size: 22px;
    }

    .sign-off-copy h2 {
        font-size: 16px;
    }
}